{{!-- left column --}}
<div class="one-half column category">
    <h3 class="section-heading">Add Contact</h3>
    <p class="section-description">Enter Name, Phone and submit, check your contact added in the right side </p>


</div>
{{!-- end of left column --}}