<h3 class="section-heading">Step 2️⃣: Export Your Address Book</h3>
<p class="section-description">After finishing adding your contacts, please export which will be used to compare in next page</p>
<form method="GET" target="_blank" action="/api/export">
    <fieldset>
        <input class="button-primary button-black" type="submit" value="Export Address book">
    </fieldset>
    </form>
    <form method="GET" action="/api/delete">
    <p class="section-description">Delete your current address book, if you want to create a new one</p>
    <fieldset>
        <input class="button-primary button-delete" type="submit" value="Delete Address book">
    </fieldset>
</form>