<div class="section categories"><br/><br/>
<div class="container">
    <div class="row">
    
    {{!-- left column --}}
    {{partial 'partials/add_contact' }}
    
    {{!-- right column  --}}
    {{partial 'partials/all_contacts' }}

    </div>
</div>
</div>
