<div class="section categories">
<div class="container">

    <br/><a href="/" ><h3>🔙 Back</h3></a><br/>

    <div class="row">
    
    {{!-- left column --}}
    <div class="one-half column category">
    <h3 class="section-heading">Unique Contacts Comparison Results</h3>

    <p>Following are the unique contacts found</p>

    {{partial 'partials/all_contacts' }}

    </div>
    

    </div>
</div>
</div>
